<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ca.deca.decaontarioapp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.DECA">
        <activity
            android:name=".ui.activities.ActivityMainScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.ActivityAbout"
            android:label="@string/title_activity_about"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityExecProfile"
            android:label="@string/title_activity_exec_profile"
            android:parentActivityName=".ui.activities.ActivityAbout">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityAbout"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityDeadlines"
            android:label="@string/title_activity_deadlines"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityTraining"
            android:label="@string/title_activity_training"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivitySettings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityRegionals"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityProvincialsAbout"
            android:label="@string/title_activity_provincials_about"
            android:parentActivityName=".ui.activities.ActivityMainScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityMainScreen"/>
        </activity>
        <activity
            android:name=".ui.activities.ActivityEventDetail"
            android:parentActivityName=".ui.activities.ActivityTraining">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.deca.decaontarioapp.ui.activities.ActivityTraining"/>
        </activity>

    </application>

</manifest>
